@import "layout";
@import "colors.scss";
@import "mixins.scss";

.diet-dashboard-nav-bar {
  padding-top: $nav-bar-trigger-size;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
}

.diet-dashboard-nav-bar-item {
  margin: 0.5rem 1rem;

  &:hover, &:focus {
    color: darken($primaryColor, 10);
    text-decoration: underline;
  }
}
