.diet-day-plan-wrapper {
  position: relative;
  height: 100%;
  background: url('~src/assets/images/day-plan-background.svg') no-repeat 50% 50%;
  background-size: contain;
  overflow: auto;
}

.diet-day-plan-meal-list {
  min-height: 50%;
}
