@import "colors.scss";

.diet-add-button {
  width: 3rem;
  height: 3rem;
  border-radius: 0.8rem;
  background-color: $light;
  box-shadow: 0.15rem 0.3rem 0.5rem 0 $light--shadow;
  position: relative;
  outline: none;

  &:hover, &:focus {
    background-color: $light--hover;
  }

  &:active {
    background-color: $light--active;
  }

  &::after, &::before {
    content: '';
    position: absolute;
    background-color: $primaryColor;
    transform: translate(-50%, -50%);
    box-shadow: 0.1rem 0.2rem 0.5rem 0 transparentize($primaryColor, 0.3);
  }

  &::after {
    width: 50%;
    height: 0.15rem;
  }

  &::before {
    height: 50%;
    width: 0.15rem;
  }
}
