label, .summary {
  padding: 0.25rem 0.5rem;
  background-color: #fbfcec;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  text-align: center;
}

.content-wrapper {
  display: inline-block;
  margin: 0.5rem;
}
