.summary-wrapper {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}

@media(max-width: 570px) {
  .summary-wrapper {
    flex-wrap: wrap;
  }
}

.summary {
  padding: 0.25rem 0.5rem;
  background-color: #fbfcec;
  margin: 0.5rem 0.25rem 0.25rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.summary-label {
  text-align: center;
}

.label-img {
  width: 25px;
  height: 25px;
}

.kcal-img {
  background-image: url(~src/assets/images/icons/kcal.png);
}

.carbs-img {
  background-image: url(~src/assets/images/icons/carbs.png);
}

.fat-img {
  background-image: url(~src/assets/images/icons/fat.png);
}

.proteins-img {
  background-image: url(~src/assets/images/icons/proteins.png);
}

.roughage-img {
  background-image: url(~src/assets/images/icons/carbs.png);
}
