@import "colors.scss";
.product-wrapper {
  margin-right: 3%;
  margin-left: 3%;
}

.product-buttons {
  display: flex;
  flex-direction: row-reverse;
}
.product-overview {
  position: relative;
  border-radius: 1rem;
  background-color: #fcf6f6;
  min-height: 40rem;
  box-shadow: transparentize(#000000, 0.5) 1px 2px 5px 1px;
  &:hover, &:focus {
  }
}

.product-name-input {
  background: transparent;
  border-radius: 1rem;
  border : 0.3rem solid $primaryColor;
  box-shadow:  1px 2px 5px 1px transparentize(#000000, 0.5), transparentize(#000000, 0.5) 1px 1px 6px 1px inset;
  text-align: center;
  font-size: 1.75rem;
  min-height: 4rem;
  color: $primaryColor;
    &::placeholder {
      color: $primaryColor;
    }
}
