@import "colors.scss";
@import "form.scss";

.diet-landing-page-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  h1 {
    text-align: center;
    color: $primary;
    justify-self: start;
    margin-bottom: 1rem;
  }

  .diet-landing-page-authorization {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 15rem;

    & > * {
      width: 100%;
    }
  }

}
