@import "colors.scss";
@import "layout.scss";

:host {
  $height: 0.75rem;
  $topOffset: $height + ($formMarginBottom - $height) * 0.6;
  color: $dangerColor;
  margin: 0;
  font-size: $height;
  line-height: $height;
  position: relative;
  top: -$topOffset;

  &.ng-touched.ng-invalid {
    margin-bottom: -$height;
  }
}
