@import "colors.scss";
@import "layout.scss";

:host {
  $height: 0.75rem;
  color: $dangerColor;
  margin: 0;
  font-size: $height;
  line-height: $height;
  position: relative;
  top: -$height;

  &.ng-touched.ng-invalid {
    margin-bottom: $formMarginBottom - $height;
  }
}
