@import 'colors.scss';

.diet-button-wrapper {
  display: inline-block;
  min-width: 7rem;
  width: 100%;

  button {
    width: 100%;
    cursor: pointer;
    height: 2rem;
    padding: 0.25rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: transparentize($primaryColor, 0.5) 1px 2px 5px 1px;
    outline: none;
    font-weight: 600;

    background: $primaryColor;
    color: $backgroundColor;

    &:not(:disabled) {
      &:hover, &:focus {
        background: darken($primaryColor, 10);
        box-shadow: transparentize($primaryColor, 0.2) 1px 2px 5px 1px;
      }
    }

    &:disabled {
      background: #e7a0ac;
    }
  }
}

:host.diet-button-secondary > .diet-button-wrapper > button {
  background: #fff;
  color: #554b4b;
}
