@import "layout.scss";

:host {
  padding: 0 !important;
}

$fridge-z-index: 50;
$pan-z-index: $fridge-z-index - 1;
$products-z-index: $fridge-z-index - 1;
$cabin-z-index: $fridge-z-index - 2;

@mixin fridge-styles($fridgeHeight, $fridgeWidth) {

  .diet-fridge {
    z-index: $fridge-z-index;
    position: absolute;
    bottom: 0;
    left: 53%;
    height: $fridgeHeight;
    width: $fridgeWidth;
    transform: translate(-50%, 0);
    background: transparent url(~src/assets/images/fridge/fridge.png) no-repeat;
    background-size: cover;

    & > * {
      cursor: pointer;
      position: absolute;
      background-size: contain;
    }

    &-calendar {
      top: 10%;
      left: 15%;
      width: 25%;
      height: 15%;
      background: transparent url(~src/assets/images/fridge/calendar.png) no-repeat;
    }

    &-shopping-list {
      top: 22%;
      left: 50%;
      width: 35%;
      height: 23%;
      background: transparent url(~src/assets/images/fridge/shopping-list.png) no-repeat;
    }

    &-my-diet {
      top: 40%;
      left: 15%;
      width: 25%;
      height: 10%;
      transform: rotate(-5deg);
      background: transparent url(~src/assets/images/fridge/my-diet.png) no-repeat;
    }

    &-settings {
      top: 50%;
      left: 50%;
      width: 29%;
      height: 10%;
      transform: rotate(-15deg);
      background: transparent url(~src/assets/images/fridge/settings.png) no-repeat;
    }
  }
}

@mixin fridge-wrapper-styles($wrapperHeight) {
  .diet-fridge-wrapper {
    min-height: $wrapperHeight;
    min-width: 100%;
    background: transparent url(~src/assets/images/fridge/fridge-background.png) no-repeat 50%;
    background-size: cover;
    position: relative;
    overflow: hidden;

    @include fridge-styles(0.85 * $wrapperHeight, 0.39 * $wrapperHeight);

    & > * {
      position: absolute;
      background-size: contain;
    }

    &-products {
      bottom: 0.8425 * $wrapperHeight;
      right: 45%;
      height: 0.12 * $wrapperHeight;
      width: 0.27 * $wrapperHeight;
      transform: translate(50%);
      z-index: $products-z-index;
      background: transparent url(~src/assets/images/fridge/recipy-books.png) no-repeat;
      cursor: pointer;
    }

    &-plant {
      left: 0.05 * $wrapperHeight;
      top: 0.20 * $wrapperHeight;
      width: 0.16 * $wrapperHeight;
      height: 0.20 * $wrapperHeight;
      background: transparent url(~src/assets/images/fridge/plant.png) no-repeat;
    }

    &-pan {
      left: -0.05 * $wrapperHeight;
      top: 0.42 * $wrapperHeight;
      width: 0.30 * $wrapperHeight;
      height: 0.32 * $wrapperHeight;
      z-index: $pan-z-index;
      background: transparent url(~src/assets/images/fridge/pan.png) no-repeat;
    }

    &-cabinet {
      left: 0;
      bottom: 0;
      width: 0.40 * $wrapperHeight;
      height: 0.30 * $wrapperHeight;
      z-index: $cabin-z-index;
      background: transparent url(~src/assets/images/fridge/cabinet.png) no-repeat;
    }
  }

  @media (max-width: $breakpoint-sm-max-width) {
    .diet-fridge-wrapper {

      &-plant {
        left: -0.05 * $wrapperHeight;
      }

      &-pan {
        left: -0.08 * $wrapperHeight;
      }
    }
  }
}

@include fridge-wrapper-styles(100vh);

@media (orientation: landscape) {
  @media (min-width: 850px) and (max-height: 850px) {
    @include fridge-wrapper-styles(850px);
  }
  @media (max-width: 850px) {
    @include fridge-wrapper-styles(100vw)
  }
}
