@import "colors.scss";
@import "mixins.scss";


form.diet-form {
  @include diet-form
}

.long-input {
  display: block;
  padding: 0.25rem 0.5rem;

  height: 2.5rem;
  background: #fff;
  border: none;
  border-radius: 0.5rem;
  box-shadow: transparentize($primaryColor, 0.5) 1px 2px 5px 1px;
  outline: none;

  &:hover, &:focus {
    box-shadow: transparentize($primaryColor, 0.2) 1px 2px 5px 1px;
  }

  &.ng-touched.ng-invalid {
    box-shadow: transparentize($dangerColor, 0.2) 0px 1px 5px 2px;
  }
}
