@import "colors";

$min-app-height: 300px;
$min-app-width: 300px;

$z-index-nav-bar: 1000;
$z-index-nav-bar-toggle-button: 1001;

$nav-bar-trigger-size: 40px;

$html-font-size-lg: 16px;
$html-font-size-md: 15px;
$html-font-size-sm: 14px;
$html-font-size-xs: 13px;

$breakpoint-md-max-width: 1024px;
$breakpoint-sm-max-width: 640px;
$breakpoint-xs-max-width: 480px;

html {
  height: 100%;
  overflow: auto;
  font-size: $html-font-size-lg;

  @media (max-width: 1024px) {
    font-size: $html-font-size-md;
  }

  @media (max-width: 640px) {
    font-size: $html-font-size-sm;
  }

  @media (max-width: 480px) {
    font-size: $html-font-size-xs;
  }
}

body {
  height: 100%;
  overflow: auto;
}

body {
  background: $backgroundColor;
  font-family: 'Roboto', sans-serif;
  color: $fontColor;
}
