@import "colors";
@import "layout";

@mixin square-button($size) {
  margin: 0.25rem;
  height: $size;
  width: $size;
  border-radius: 25%;
  background-color: $light;
  box-shadow: 0.15rem 0.3rem 0.5rem 0 $light--shadow;
  outline: none;

  &:active {
    background-color: $light--active;
  }
}

@mixin square-button-with-icon($size, $icon-url) {
  @include square-button($size);
  padding: 15%;

  &-icon {
    height: 100%;
    width: 100%;
    background: url($icon-url);
    background-size: cover;
  }
}

@mixin card($elementSize, $shadowColor: $light--shadow) {
  box-shadow: 0.015 * $elementSize 0.03 * $elementSize 0.5rem 0 $shadowColor;
  border-radius: $default-border-radius;
}

@mixin inset-shadow($shadowRadio, $shadowColor: $light--shadow) {
  box-shadow: 0.015 * $shadowRadio 0.03 * $shadowRadio 0.5rem 0 $shadowColor,
  0.015 * $shadowRadio 0.03 * $shadowRadio 0.5rem 0 $shadowColor inset;
}

@mixin inset-shadow-with-hover($shadowRadio, $shadowColor: $light--shadow) {
  @include inset-shadow($shadowRadio, $shadowColor);

  &:hover, &:focus {
    @include inset-shadow($shadowRadio, darken($shadowColor, 20));
  }
}
