html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

input {
  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

select, textarea, input {
  border: none;
  outline: none;
}
