$backgroundColor: #f4e9e5;
$primaryColor: #e96131;
$secondaryColor: #c82c42;
$tertiaryColor: #f6dcc5;
$warnColor: #e1b627;
$dangerColor: red;
$fontColor: #2c2168;
$shadowColor: transparentize(#646464, 0.4);

