@import "mixins";

.diet-settings-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;

  & > * {
    margin-bottom: 1rem;
    width: 100%;
  }

  .diet-settings-card {
    @include card(10rem);
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    background-color: $light;

    .user-data-form {
      .user-data-form-header {
        color: $primaryColor;
        margin: 1rem 0;
      }
    }
  }

  .diet-settings-bottom-actions {
    display: flex;
    justify-content: flex-end;
  }
}

.diet-limits-form {
  @include diet-form;
}

.diet-limits {
  padding: 2rem;
  @include inset-shadow(10rem);
  border-radius: $default-border-radius;
  border: 0.35rem solid darken($secondaryColor, 15);

  .diet-limits-form-label {
    margin-top: 0.5rem;
    color: darken($secondaryColor, 15);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
  }
}


@media (max-width: $breakpoint-xs-max-width) {
  .diet-settings-content {
    padding: 0 1rem;

    .diet-settings-card {
      padding: 0.5rem;
    }
  }

  .diet-limits {
    padding: 0.5rem;
  }
}
