@import "colors.scss";
@import "mixins.scss";
@import "layout.scss";


.diet-entity-item-table {
  @include inset-shadow(10rem);
  border-radius: $default-border-radius;
  border: 0.35rem solid darken($secondaryColor, 15);
  padding: 0.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    width: 100%;
    line-height: 3.5rem;
    font-size: 2.25rem;
    background: url('src/assets/images/icons/cart.png') no-repeat left top;
    background-size: contain;
    padding-left: 5rem;
    color: $fontSecondary;
  }

  &-wrapper {
    $row-width-0: 70%;
    $row-width-1: 30%;

    width: 100%;
    display: flex;
    flex-direction: column;

    .diet-entity-item-table-header-row {
      margin: 1rem 0 0.5rem;
      color: $primaryColor;
      font-size: 2rem;
      display: flex;

      &-0 {
        width: $row-width-0;
        margin: -0.25rem;
      }

      &-1 {
        width: $row-width-1;
      }
    }

    .diet-entity-item-table-row {
      display: flex;
      color: $fontColor;
      font-size: 1.5rem;

      &-name {
        width: $row-width-0;

        &::before {
          content: '>';
          height: 1rem;
          width: 1rem;
        }
      }

      &-quantity {
        width: $row-width-1;
      }
    }
  }
}
