@import "colors.scss";

.diet-stats-meter-wrapper {
  display: flex;
  flex-direction: column;
}

.diet-stats-meter-header {
  margin-bottom: 0.5rem;
}

.diet-stats-meter-values {
  display: flex;
  justify-content: space-between;

  span {
    margin-top: 0.2rem;
    font-size: 0.75rem;
    white-space: pre;
  }
}

meter {
  width: 100%;
  height: 0.75rem;
}

meter,
meter::-webkit-meter-bar {
  background: #d5bbab;
  box-shadow: 0.05rem 0.05rem 0.3rem -0.2rem $shadowColor;
}

meter,
meter::-webkit-meter-bar,
meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
  border-radius: 1.5rem;
}

meter::-webkit-meter-optimum-value {
  background: $warnColor;
  box-shadow: 0.05rem 0.05rem 0.5rem -0.2rem $shadowColor;
}

/* Firefox */
meter::-moz-meter-bar {
  border-radius: 1.5rem;
}

meter:-moz-meter-optimum::-moz-meter-bar {
  background: $warnColor;
  box-shadow: 0.2rem 0 0.3rem -0.2rem rgba(0, 0, 0, 0.2);
}
