<div class="content-wrapper">
  <div class="navbar">
    <nav class="navbar-nav">
      <ul class="navbar-nav-list">
        <li class="nav-item-list-item">
          <a class="nav-item-list-item-link" routerLink="/meals">Meals</a>
        </li>
        <li class="nav-item-list-item">
          <a class="nav-item-list-item-link" routerLink="/products">Products</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="router-outlet-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
