.content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  flex: 0 1 auto;
}

.router-outlet-wrapper {
  flex: 1 0 auto;

  &:nth-child(2) {
    width: 100%;
    height: 100%;
  }
}
