@import "layout.scss";

.diet-dashboard-nav-bar {
  padding-top: $nav-bar-trigger-size;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
}
