@import "colors.scss";
@import "mixins.scss";

.summary-wrapper {
  @include card(5rem);
  background-color: $light;
  padding: 2rem 2rem 0.5rem;

  h1 {
    color: $primaryColor;
    margin-bottom: 1rem;
    font-weight: 400;

    &.title-hidden {
      visibility: hidden;
      font-size: 0;
    }
  }
}

.summary-input-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  column-gap: 1.5rem;
}
