@import "colors.scss";
@import "mixins.scss";
@import "layout.scss";

$font-size-medium: 1.5rem;

.diet-entity-info {
  display: flex;
  flex-direction: column;
  border-radius: $default-border-radius;
  position: relative;
  background: $light url('src/assets/images/logo.svg') no-repeat right top;
  background-size: 10rem 18rem;
  @include card(10rem);

  &-name {
    $shadowRadio: 5rem;

    width: 70%;
    height: 6rem;
    padding: 0 1.5rem 1rem;
    font-size: 1.75 * $font-size-medium;
    color: $secondaryColor;
    border: 0.35rem solid $primaryColor;
    border-radius: $default-border-radius;
    background-color: transparent;
    @include inset-shadow-with-hover($shadowRadio);
  }

  &-unit {
    $height: 3rem;

    height: $height;
    width: 15rem;
    margin: 1.5rem 0.5rem;
    padding: 0 1rem;
    border-radius: $height / 2;
    background-color: transparent;
    border: 0.3rem solid $warnColor;
    line-height: $font-size-medium;
    font-size: $font-size-medium;
    color: $fontColor;

    &:hover, &:focus {
      border-color: darken($warnColor, 10);
      background-color: $light--hover;
    }
  }

  &-description {
    $line-height: $font-size-medium + 0.2rem;

    height: 6 * $line-height;
    line-height: $line-height;
    font-size: $font-size-medium;
    margin: 0 0.5rem 0.5rem;
    padding: 0.5rem;
    color: $fontColor;
    border-radius: $default-border-radius;
    background-color: transparent;
    resize: none;

    &::placeholder {
      //color: $fontColor
    }
  }
}
