<div class="products">
  <h3>Your products:</h3>
  <app-product
    *ngFor="let product of products"
    [product]="product"
    [updateMode]="false"
    (deleteRequest)="delete($event)"
    (applyRequest)="update($event)">
  </app-product>
  <app-product
    *ngIf="productToAdd"
    [product]="productToAdd"
    [updateMode]="true"
    (deleteRequest)="discard()"
    (applyRequest)="post()">
  </app-product>
  <button [disabled]="productToAdd!=null" (click)="add()"><span>+</span></button>
</div>
