@import "colors.scss";
@import "mixins.scss";
@import "layout.scss";

$input-length-amount: 4rem;
$input-length-unit: 3rem;
$input-length-checkbox: 1rem;

.shopping-list-wrapper {
  display: flex;
  align-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0 5%;
}

.shopping-list-details-container {
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: $default-border-radius;
  box-shadow: transparentize($primaryColor, 0.5) 1px 2px 5px 1px;
  width: 100%;

  .shopping-list-name-form {
    .shopping-list-name {
      @include card-with-border(75%);
      @include inset-shadow-with-hover(5rem);
    }
  }

  .shopping-list-details-dates {
    padding: 2rem;
    display: flex;

    .date-input-container {
      position: relative;
      flex-direction: column;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      @media(max-width: 480px) {
        margin: 0.15rem;
      }

      .date-header {
        background-color: transparent;
        width: 100%;
        padding: 0 0 0.25rem 1rem;
        color: $secondaryColor;
      }
    }

  }
}

.shopping-list-content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 3rem;
  margin-top: 1rem;
  @include inset-shadow(2rem);
  border-radius: $default-border-radius;
  border: 0.25rem solid darken($secondaryColor, 15);
  width: 100%;

  & > * {
    z-index: 1;
  }

  &::before {
    content: "";
    background: url('src/assets/images/logo.svg') no-repeat 50% 50%;
    background-size: contain;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

}

ul {
  width: 100%;

  li {
    display: flex;
    margin: 0.5rem 0;
  }
}


.shopping-list-item {
  display: flex;
  width: 100%;
  align-items: center;
}

.shopping-list-item-field {
  flex: 1 1 auto;
  justify-content: flex-end;
  border: 0 $fontSecondary solid;
  border-bottom-width: 1px;
  display: flex;

  & > * {
    font-size: 1.5rem;
  }

  &-name {
    flex: 1 1 auto;
  }

  &-amount {
    width: $input-length-amount;
  }

  &-unit {
    width: $input-length-unit;
    appearance: none;
    cursor: pointer;
    padding: 0 0.5rem;
    border-radius: 0.75rem;
    border: 1px transparent solid;

    &:hover {
      border: 1px $light--active solid;
      background-color: $light--hover;
    }
  }

  &-checked {
    width: $input-length-checkbox;
  }
}

.shopping-list-header {
  display: block;
  font-size: 2rem;
  color: $secondaryColor;
  padding-bottom: 1.5rem;
}

.shopping-list-table-headers {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  color: $primaryColor;

  &-quantity {
    width: $input-length-amount + $input-length-unit + $input-length-checkbox;
  }
}

input[type="date"] {
  width: 100%;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-radius: 1.25rem;
  background-color: transparent;
  border: 0.25rem solid $warnColor;
  color: $fontColor;
  text-align: center;

  &::-webkit-clear-button {
    display: none;
  }

  &::-webkit-inner-spin-button {
    display: none;
  }
}

.save-button {
  margin: 1rem 5% 1rem auto;
  font-size: 1.25rem;
  color: $secondaryColor;
  border-radius: 1rem;
  box-shadow: transparentize($primaryColor, 0.5) 1px 2px 5px 1px;
  height: 3rem;
  width: 8rem;

  &:hover {
    box-shadow: transparentize($primaryColor, 0.2) 1px 2px 5px 1px;
  }
}
