@import "colors.scss";

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  background-image: linear-gradient(to right, $primaryColor, #fff);
  margin-top: 1rem;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 1.25rem;
  box-shadow: transparentize($primaryColor, 0.5) 1px 2px 5px 1px;
  outline: none;

  &:hover, &:focus {
    box-shadow: transparentize($primaryColor, 0.2) 1px 2px 5px 1px;
  }
}

span {
  margin: 0.25rem;
  color: #82373d;
  display: block;
  text-align: center
}

.meal-content {
  width: 90%;
}

button.delete-meal-button {
    background-image: url(~src/assets/images/icons/X.png);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    position: relative;
    bottom: 1.6rem;
    left: 1rem;
}

@media(max-width: 570px) {
  button.delete-meal-button {
    bottom: 3rem;
    left: 0.1rem;
  }
}

.meal-checkbox {
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid $secondaryColor;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;

  &:checked {
    background-color: #e1b628;
  }
}

@media(max-width: 570px) {
  button.delete-meal-button {
    bottom: 3rem;
    left: 0.1rem;
  }
}

