@import "colors.scss";

.content-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  background-image: linear-gradient(to right, $primaryColor, #fff);
  margin-top: 1rem;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 1.25rem;
  box-shadow: transparentize($primaryColor, 0.5) 1px 2px 5px 1px;
  outline: none;

  &:hover, &:focus {
    box-shadow: transparentize($primaryColor, 0.2) 1px 2px 5px 1px;
  }
}


.meal-content {
  width: 90%;

  .meal-content-name {
    margin: 0.25rem;
    color: darken($secondaryColor, 30);
    text-align: center
  }
}

.delete-meal-button {
  background: transparent url(~src/assets/images/icons/X.png) no-repeat;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  outline: none;

  &:focus, &:hover {
    background-color: transparentize($primaryColor, 0.8);
    border-radius: 50%;
  }
}

.meal-checkbox {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 50%;
  border: 1px solid $secondaryColor;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);

  &:focus, &:hover {
    background-color: lighten($warnColor, 30);
  }

  &:checked {
    background-color: lighten($warnColor, 10);

    &:focus, &:hover {
      background-color: $warnColor;
    }
  }
}

@media (max-width: 450px) {
  .content-wrapper {
    margin-right: 5%;
    margin-left: 5%;
  }
}
