@import "colors.scss";
@import "layout.scss";
@import "mixins.scss";

.diet-day-plan-meal-wrapper {
  position: relative;
  padding: 0.2rem 1rem 0.65rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, $primaryColor 0%, $tertiaryColor 90%, $light 100%);
  margin-top: 1rem;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 1.25rem;
  box-shadow: transparentize($primaryColor, 0.5) 1px 2px 5px 1px;
  outline: none;

  &:hover, &:focus {
    box-shadow: transparentize($primaryColor, 0.2) 1px 2px 5px 1px;
  }

  &--eaten {
    background-color: $secondaryColor;
    background-image: none;
  }
}

.meal-content {
  width: 90%;

  &-name {
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: darken($secondaryColor, 30);
    text-align: center
  }
}

.delete-meal-button {
  @include cross-icon(1.5rem);
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  outline: none;
}

.meal-checkbox {
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0;
  background-color: white;
  border-radius: 50%;
  border: 0.22rem solid $secondaryColor;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translate(50%, -50%);

  &:focus, &:hover {
    background-color: lighten($warnColor, 30);
  }

  &:checked {
    background-color: $warnColor;

    &:focus, &:hover {
      background-color: lighten($warnColor, 15);
    }
  }
}

@media (max-width: $breakpoint-xs-max-width) {
  .diet-day-plan-meal-wrapper {
    margin-right: 5%;
    margin-left: 5%;

    .meal-content-name {
      font-size: 1.25rem;
    }
  }
}
